    <nav class="navbar">

        <div class="nav_wrapper">

            <div class="brand">
                <h1>Muhammad Zikri</h1>
            </div>

            <menu type="nav_menu">
                <a href="/">Home</a>
                <a href="/About">About</a>
                <a href="/Contact">Contact</a>
            </menu>

        </div>

    </nav>
